html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
}

body {
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/*
@keyframes moveBackground {
    from {
        background-position: -50% center;  left 
    }

    to {
        background-position: 140% center;  right 
    }
}*/
