html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
}

body {
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.carousel-inner {
    position: relative;
}

.carousel-image {
    width: 60%; /* Adjust this value for smaller/larger images */
    height: auto;
    margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem; /* Adjust the size of the buttons */
    height: 3rem; /* Height is now equal to width for a square button */
    background: rgba(0, 0, 0, 0.5); /* Optional: Make the background slightly transparent */
    border-radius: 100%; /* This rounds the buttons */
    border: none; /* Removes border */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent; /* Remove the background color */
    width: 2rem; /* Set the size of the icon */
    height: 2rem; /* Set the height to match width */
    background-size: contain; /* Ensure the arrow fits inside the icon space */
    background-repeat: no-repeat;
    background-position: center; /* Center the icon within the button */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}
/*
@keyframes moveBackground {
    from {
        background-position: -50% center;  left 
    }

    to {
        background-position: 140% center;  right 
    }
}*/
